.footer{
    width: 100%;
    padding: 12px;
    font-size: .7rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(248, 250, 249);
    box-shadow: rgba(233, 233, 233, 0.952) 0px 5px 5px;
    font-size: small;
    position:sticky;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 45px;
    padding-right: 45px;
    flex-wrap: wrap;
}
.rights{
    flex-basis: 30%;
}
.footer_link{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer_link p{
    transition: color .6s ease-in-out;
    cursor: pointer;
}
.footer_link p:hover{
    color: black;
}

.footer_icons{
    flex-basis: 30%;
}

.footer_icons span{
    transition: color .6s ease-in-out;
    cursor: pointer;
}
.footer_icons span:hover{
    color: black;
}


.developer{
    cursor: pointer;
}

.developer:hover{
    transition: color .6s ease-in-out;
    color: black;
}


@media only screen and (max-width:670px){
    .rights,.footer_link,.footer_icons,.developer{
        flex-basis: 100%;
        text-align: center;
    }
}